:root{
      --ball-width: 340px;
}

body{
      overflow-x: hidden;
}

.layout{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;

}

.layout__container{

            position: relative;
            width: 900px;
            height: 600px;
            overflow: hidden;
            border:  10px solid rgb(163, 163, 163);
            display: flex;
            justify-content: center;
            align-items: center;
            



}



.layout__img{
      display: none;
      position: absolute;
      width: 50%;
      border: 1px solid rgb(74, 145, 101);
      opacity: 0.7;
      z-index: 3;
}

.layout__head{
      width: 300px;
      height: 500px;
      background: #81B72B;
}
