:root {
      --html-width: 550px;
}

body {
      overflow-x: hidden;
}

.layout {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;

}

.layout__container {

      position: relative;

      width: 900px;
      height: 600px;
      overflow: hidden;
      border: 10px solid rgb(163, 163, 163);
      display: flex;
      justify-content: center;
      align-items: center;




}


.layout__img {
      width: var(--html-width);
      display:none;
      opacity: 0.5;
      z-index: 3;
      position: absolute;



}

.layout__logo {
      z-index: 2;
      position: absolute;
      top: 123px;
      left: 246px;
      width: 389px;
      height: 441px;
      background-color: #E54C21;
      /*
       background: linear-gradient(to right, #e54c21 0%, #e54c21 50%, #f06741 50% ,#f06741 100%);*/


      clip-path: polygon(0% 0%,100% 0%, 91% 90%, 50% 100%, 9% 90%);



}

.logo__number{
      position: absolute;

      width: 243px;
      height: 276px;
      top: 81px;
      left: 73px;
      background-color: white;

      background: linear-gradient(to right, #ececec 0%, #ececec 50%, white 50% ,white 100%);
      clip-path: polygon(0% 0%, 100% 0%, 98% 18%, 22% 18%, 23% 36%, 96% 36%, 91% 90%, 50% 100%, 8% 90%, 6%  62%, 26% 62% ,27% 76%, 50% 82%, 72% 76% , 74% 54% ,5% 54%);

      

}

.logo__poligono{
      position: absolute;
      height: 373px;
      width: 160px;
      background: rgb(241, 102, 50);
      top:8%;
      left:50%;

       clip-path: polygon(0% 0%, 100% 0%, 80% 90%, 0% 100%);

}